@font-face {
    -fx-font-family: 'Poppins';
    -fx-font-weight: normal;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    -fx-font-family: 'Poppins';
    -fx-font-weight: bold;
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    -fx-font-family: 'Poppins';
    -fx-font-weight: lighter;
    src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
    -fx-font-family: 'Poppins';
    -fx-font-weight: 600;
    src: url('../fonts/Poppins-SemiBold.ttf');
}


.root {
    -fx-font-family: 'Poppins';
}

/*------------- LAMIA CSS ---------------------------*/
/* Background rectangle */
.background-rect {
    -fx-fill: #14213d;
    -fx-stroke: #14213d;
}

/* Login container */
.login-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
}

/* Title */
.login-title {
    -fx-text-fill: #14213d;
    -fx-font-size: 24px;
    -fx-text-fill: #14213d;
    -fx-font-weight: Bold Italic;
}

/* Labels */
.form-label {
    -fx-text-fill: #14213d;
    -fx-font-size: 12px;
}

/* Inputs */
.form-input {
    -fx-background-radius: 5;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-padding: 5 10;
}

/* Submit button */
.submit-button {
    -fx-background-color: #fca311;
    -fx-text-fill: #14213d;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5;
}

/* Error message */
.status-text {
    -fx-fill: red;
    -fx-font-size: 12px;
}


.registerBTN{
    -fx-background-color: #fff;
    -fx-text-fill: #fca311;
    -fx-underline: #fca311 2px solid;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 5;
}